# Managed by Ansible
#==========================  Modules configuration =============================
auditbeat.modules:

{% if auditbeat_module.auditd.enabled | bool %}
- module: auditd
  # Load audit rules from separate files. Same format as audit.rules(7).
  audit_rule_files: [ '${path.config}/audit.rules.d/*.conf' ]
{% endif %}
{% if auditbeat_module.file_integrity.enabled | bool %}
- module: file_integrity
  paths:
    {{ auditbeat_module.file_integrity.paths | to_nice_yaml | trim | indent(4) }}
  max_file_size: {{ auditbeat_module.file_integrity.max_file_size | default("100 MiB") }}
{% endif %}
{% if auditbeat_module.system.enabled | bool %}
- module: system
  datasets:
    {{ auditbeat_module.system.datasets | to_nice_yaml | trim | indent(4) }}

  # How often datasets send state updates with the
  # current state of the system (e.g. all currently
  # running processes, all open sockets).
  state.period: {{ auditbeat_module.system.state_period | default('12h') }}

  # Enabled by default. Auditbeat will read password fields in
  # /etc/passwd and /etc/shadow and store a hash locally to
  # detect any changes.
  user.detect_password_changes: {{ auditbeat_module.system.user_detect_password_changes | default(true) }}

  # File patterns of the login record files.
  login.wtmp_file_pattern: {{ auditbeat_module.system.login_wtmp_pattern | default('/var/log/wtmp*') }}
  login.btmp_file_pattern: {{ auditbeat_module.system.login_btmp_pattern | default('/var/log/btmp*') }}

  process.hash.max_file_size: {{ auditbeat_module.system["process.hash.max_file_size"] | default("100 MiB") }}
{% endif %}
#==================== Elasticsearch template setting ==========================
setup.template.enabled: {{ auditbeat_template.enabled | default(true) }}
setup.template.settings:
  index.number_of_shards: {{ auditbeat_template.number_of_shards | default(1) }}

#================================ General =====================================

{% if auditbeat_general.tags is defined %}
tags: {{ auditbeat_general.tags | to_json }}
{% endif %}

{% if auditbeat_cloud is defined %}
#============================= Elastic Cloud ==================================

# These settings simplify using Auditbeat with the Elastic Cloud (https://cloud.elastic.co/).

# The cloud.id setting overwrites the `output.elasticsearch.hosts` and
# `setup.kibana.host` options.
# You can find the `cloud.id` in the Elastic Cloud web UI.
cloud.id: {{ auditbeat_cloud.id }}

# The cloud.auth setting overwrites the `output.elasticsearch.username` and
# `output.elasticsearch.password` settings. The format is `<user>:<pass>`.
cloud.auth: {{ auditbeat_cloud.auth }}
{% endif %}

{% if auditbeat_ilm is defined %}
#=================================== ILM ======================================
setup.ilm.enabled: {{ auditbeat_ilm.enabled | default("auto") }}
{% if auditbeat_ilm.enabled != "false" %} 
setup.ilm.rollover_alias: {{ auditbeat_ilm.rollover_alias | default("auditbeat-%{[agent.version]}") }}
setup.ilm.pattern: {{ auditbeat_ilm.pattern | default("%{now/d}-000001") }}
setup.ilm.policy_name: {{ auditbeat_ilm.policy_name | default("auditbeat-%{[agent.version]}") }}
setup.ilm.check_exists: {{ auditbeat_ilm.check_exists | default(true) }}
{% endif %}
{% endif %}
#================================ Outputs =====================================

# Configure what output to use when sending the data collected by the beat.

{% if auditbeat_output.type == "elasticsearch" %}
#-------------------------- Elasticsearch output ------------------------------
output.elasticsearch:
  # Array of hosts to connect to.
  hosts: {{ auditbeat_output.elasticsearch.hosts | to_json }}

{% if auditbeat_output.elasticsearch.security.enabled | bool %}
  # Optional protocol and basic auth credentials.
  username: {{ auditbeat_output.elasticsearch.security.username }}
  password: {{ auditbeat_output.elasticsearch.security.password }}
  protocol: {{ auditbeat_output.elasticsearch.security.protocol }}
{% if auditbeat_output.elasticsearch.security.ssl_certificate_authorities is defined %}
  ssl.certificate_authorities: {{ auditbeat_output.elasticsearch.security.ssl_certificate_authorities | to_json }}
{% endif %}
{% if 'https' == auditbeat_output.elasticsearch.security.protocol  %}
  ssl.verification_mode: {{ auditbeat_output.elasticsearch.security.ssl_verification_mode | default("full") }}
{% endif %}
{% endif %}
{% endif %}
{% if auditbeat_output.type == "logstash" %}
#----------------------------- Logstash output --------------------------------
output.logstash:
  # The Logstash hosts
  hosts: {{ auditbeat_output.logstash.hosts | to_json }}

{% if auditbeat_output.logstash.security.ssl_certificate_authorities is defined %}
  # Optional SSL. By default is off.
  # List of root certificates for HTTPS server verifications
  ssl.certificate_authorities: {{ auditbeat_output.logstash.security.ssl_certificate_authorities | to_json }}
{% endif %}
{% endif %}
{% if auditbeat_output.type == "redis" %}
#------------------------------ Redis output ---------------------------------
output.redis:
  hosts: {{ auditbeat_output.redis.hosts | to_json }}
{% if auditbeat_output.redis.password is defined %}
  password: {{ auditbeat_output.redis.password }}
{% endif %}
  key: {{ auditbeat_output.redis.key }}
{% if auditbeat_output.redis.timeout is defined %}
  timeout: {{ auditbeat_output.redis.timeout }}
{% endif %}
{% endif %}
#================================ Processors =====================================

# Configure processors to enhance or manipulate events generated by the beat.

{% if auditbeat_processors is defined %}
processors:
  {{ auditbeat_processors | indent( width=2 ) }}
{% endif %}

#============================== X-Pack Monitoring ===============================
# auditbeat can export internal metrics to a central Elasticsearch monitoring
# cluster.  This requires xpack monitoring to be enabled in Elasticsearch.  The
# reporting is disabled by default.

# Set to true to enable the monitoring reporter.
#monitoring.enabled: false

# Sets the UUID of the Elasticsearch cluster under which monitoring data for this
# Auditbeat instance will appear in the Stack Monitoring UI. If output.elasticsearch
# is enabled, the UUID is derived from the Elasticsearch cluster referenced by output.elasticsearch.
#monitoring.cluster_uuid:

# Uncomment to send the metrics to Elasticsearch. Most settings from the
# Elasticsearch output are accepted here as well.
# Note that the settings should point to your Elasticsearch *monitoring* cluster.
# Any setting that is not set is automatically inherited from the Elasticsearch
# output configuration, so if you have the Elasticsearch output configured such
# that it is pointing to your Elasticsearch monitoring cluster, you can simply
# uncomment the following line.
#monitoring.elasticsearch:
{% if auditbeat_migration is defined %}
#================================= Migration ==================================

# This allows to enable 6.7 migration aliases
migration.6_to_7.enabled: {{ auditbeat_migration }}
{% endif %}
{% if auditbeat_logging.enabled | bool %}
# ================================== Logging ===================================

# There are four options for the log output: file, stderr, syslog, eventlog
# The file output is the default.

# Sets log level. The default log level is info.
# Available log levels are: error, warning, info, debug
logging.level: {{ auditbeat_logging.level | default("info") }}

# Enable debug output for selected components. To enable all selectors use ["*"]
# Other available selectors are "beat", "publisher", "service"
# Multiple selectors can be chained.
logging.selectors: {{ auditbeat_logging.to_stderr | default("[ ]") }}

# Send all logging output to stderr. The default is false.
logging.to_stderr: {{ auditbeat_logging.to_stderr | default("false") }}

# Send all logging output to syslog. The default is false.
logging.to_syslog: {{ auditbeat_logging.to_syslog | default("false") }}

# Send all logging output to Windows Event Logs. The default is false.
logging.to_eventlog: {{ auditbeat_logging.to_eventlog | default("false") }}

# If enabled, Auditbeat periodically logs its internal metrics that have changed
# in the last period. For each metric that changed, the delta from the value at
# the beginning of the period is logged. Also, the total values for
# all non-zero internal metrics are logged on shutdown. The default is true.
logging.metrics.enabled: {{ auditbeat_logging.metrics.enabled | default("true") }}

# The period after which to log the internal metrics. The default is 30s.
logging.metrics.period: {{ auditbeat_logging.metrics.period | default("30s") }}

# A list of metrics namespaces to report in the logs. Defaults to [stats].
# `stats` contains general Beat metrics. `dataset` may be present in some
# Beats and contains module or input metrics.
logging.metrics.namespaces: {{ auditbeat_logging.metrics.namespaces | default("[stats]") }}

# Logging to rotating files. Set logging.to_files to false to disable logging to
# files.
logging.to_files: {{ auditbeat_logging.to_files.enabled | default("false") }}
logging.files:
  # Configure the path where the logs are written. The default is the logs directory
  # under the home path (the binary location).
  path: {{ auditbeat_logging.to_files.files.path | default("/var/log/auditbeat") }}

  # The name of the files where the logs are written to.
  name: {{ auditbeat_logging.to_files.files.name | default("auditbeat") }}

  # Configure log file size limit. If limit is reached, log file will be
  # automatically rotated
  rotateeverybytes: {{ auditbeat_logging.to_files.files.rotateeverybytes | default("10485760") }}

  # Number of rotated log files to keep. Oldest files will be deleted first.
  keepfiles: {{ auditbeat_logging.to_files.files.keepfiles | default("7") }}

  # The permissions mask to apply when rotating log files. The default value is 0600.
  # Must be a valid Unix-style file permissions mask expressed in octal notation.
  permissions: {{ auditbeat_logging.to_files.files.permissions | default("0600") }}

  # Enable log file rotation on time intervals in addition to size-based rotation.
  # Intervals must be at least 1s. Values of 1m, 1h, 24h, 7*24h, 30*24h, and 365*24h
  # are boundary-aligned with minutes, hours, days, weeks, months, and years as
  # reported by the local system clock. All other intervals are calculated from the
  # Unix epoch. Defaults to disabled.
  interval: {{ auditbeat_logging.to_files.files.interval | default("0") }}

  # Rotate existing logs on startup rather than appending to the existing
  # file. Defaults to true.
  rotateonstartup: {{ auditbeat_logging.to_files.files.rotateonstartup | default("true") }}

  # Rotated files are either suffixed with a number e.g. auditbeat.1 when
  # renamed during rotation. Or when set to date, the date is added to
  # the end of the file. On rotation a new file is created, older files are untouched.
  suffix: {{ auditbeat_logging.to_files.files.suffix | default("count") }}

# Set to true to log messages in JSON format.
# Deprecated: As of 7.16.0 this setting is deprecated and will be removed in an upcoming release.
logging.json: {{ auditbeat_logging.json | default("false") }}

# Set to true, to log messages with minimal required Elastic Common Schema (ECS)
# information. Recommended to use in combination with `logging.json=true`
# Defaults to false.
# Deprecated: As of 7.16.0 this setting is deprecated and will be removed in an upcoming release.
logging.ecs: {{ auditbeat_logging.ecs | default("false") }}
{% endif %}
